<!doctype html>
<html>

<head>
    <title>koa example</title>
    <!-- In HTML5 -->
    <meta charset="utf-8" />
    <meta name="referrer" content="origin" />
    <!-- Defining the charset in HTML4 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta name="keywords" content="koa nunjucks example" />
    <meta name="description" content="koa nunjucks example" />
</head>

<body>
    <div id="root">
        {{name}}
    </div>
</body>

</html>